@model WardRobe.Models.Backpack

@{
    ViewData["Title"] = "Details";
}

<h2 style="font-family:'Freestyle Script'; font-size:50px; color:darkturquoise">My Backpack Details</h2>


<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TripName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TripName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wardrobe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wardrobe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
